.query-result-screen-div {
  height: 100vh;
  color: black;
  margin: 0 2%;
}

.query-result-screen-div h4 {
  padding-top: 10px;
  padding-bottom: 30px;
}

.query-result-screen-div h5 {
  position: static;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.query-result-screen-div img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
